/* BROWER RESET */

/* Cancel out some differences between browser defaults */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}
* {
    box-sizing: border-box;
}

/* == END BROWSER RESET =========================================== */
/*
body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 90rem;
	margin: 0 auto;
}
header {
  grid-column: 1/3;
  text-align: center;
  background-color: lightblue;
  color: black;
  padding: 40px;
}
footer {

}
#sportSelector {
  grid-column: 2;
  grid-row: 2;
}
#secondSelector {
  grid-column: 2;
  grid-row: 3;
}
#button1 {
  grid-column: 1;
  grid-row: 5;
}
#para1 {
  grid-column: 1;
  grid-row: 2/4;
}
*/
body {
  font-family: arial;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;

  }
}

header {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
}

main {
  flex: 1;
  padding: 20px;
}

nav {
  background-color: #f90;
  padding: 20px;
}

aside {
  padding: 20px;
  background-color: #936;
}

footer {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #690;
  color: white;
}

h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
  padding: 15px;
}
select {
  width: 100px;
}




table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;

}

th, td {
    padding: 15px;
}
